<article class="space">
    <div class="first-line">
      <div class="park-icon">
        <i class="fa fa-map-pin"></i>
      </div>
      <div class="park-content">
          {{Name}}
      </div>
    </div>
    <div class="img-container">
      <img class="park-photo-img" src="{{Picture}}" height="250px" width="350px">
    </div>
    <div class="hidden">
      <p class="location">
        {{City}}
      </p>
      <p class="address">
        {{Address}}
      </p>
      <p class="days">
        {{Day}}
      </p>
      <p class="price">
        {{Price}}
      </p>
      <p class="description">
        {{Description}}
    </div>
</article>

