  <article class="spot">
    <div class="spot-picture">
      <img src={{ pic }} alt="Spot Picture" />
    </div>
    <div class="spot-container">
		<div class="hidden">
			<p id="price">{{ price }}</p>
			<p id="days">{{ days }}</p>
			<p id="size">{{ size }}</p>
			<p id="name">{{ name }}</p>
		</div>
		<div class="address">
			{{ address }}
		</div>
    </div>
  </article>
